.DS_Store
**/.idea/
.vscode/

build/
*.userdb/
installation.yaml
user.yaml
*.custom.yaml

custom_phrase_double.txt
others/script/scel2txt/out/*
others/script/scel2txt/scel/*

*private*

rime_console
rime_deployer
rime_patch
